$primary: 	#c32c4b;
$secondary: #2b2d3b;

$color-surface-light-red: #c02b32;
$color-surface-dark-red: #971e24;
$color-surface-black: #340c12;


// Colors
$color-text-50: #FFFFFF !default;
$color-text-100: #D1D0D3 !default;
$color-text-200: #74717A !default;
$color-text-300: #171321 !default;

$color-surface-50: #FFFFFF !default;
$color-surface-300: #171321 !default;


// Spacing
$spacing-default: 16px !default;

$spacing-4: 4px !default;
$spacing-8: 8px !default;
$spacing-16: 16px;
$spacing-24: 24px !default;
$spacing-32: 32px !default;
$spacing-48: 48px !default;
$spacing-64: 64px !default;
$spacing-96: 96px !default;
$spacing-160: 160px !default;


// Text
$font-size-default: 16px !default;

// Headings
$text-display-1: 110px !default;

$text-heading-1: 68px !default;
$text-heading-2: 45px !default;
$text-heading-3: 32px !default;
$text-heading-4: 23px !default;
$text-heading-5: 19px !default;

$text-display-1-mobile: 77px !default;

$text-heading-1-mobile: 48px !default;
$text-heading-2-mobile: 32px !default;
$text-heading-3-mobile: 23px !default;

// Body
$text-body-1: 20px !default;
$text-body-2: 18px !default;
$text-body-3: 16px !default;

$text-body-1-bold: 20px !default;
$text-body-2-bold: 18px !default;
$text-body-3-bold: 16px !default;

// Button
$text-button-1: 18px !default;

// ALL CAPS
$text-caps: 10px !default;

// Quotes
$text-quotes: 23px !default;

// Emphasis
$text-emphasis: 23px !default;

// Line Heights
$line-height-default: 24px !default;

$line-height-display-1: 128px !default;

$line-height-heading-1: 88px !default;
$line-height-heading-2: 56px !default;
$line-height-heading-3: 40px !default;
$line-height-heading-4: 32px !default;
$line-height-heading-5: 28px !default;

$line-height-display-1-mobile: 96px !default;

$line-height-heading-1-mobile: 64px !default;
$line-height-heading-2-mobile: 48px !default;
$line-height-heading-3-mobile: 36px !default;

$line-height-body-1: 24px !default;
$line-height-body-2: 20px !default;
$line-height-body-3: 20px !default;

$line-height-body-1-bold: 32px !default;
$line-height-body-2-bold: 28px !default;
$line-height-body-3-bold: 24px !default;

$line-height-button-1: 20px !default;
$line-height-caps: 20px !default;
$line-height-quotes: 38px !default;
$line-height-emphasis: 38px !default;

// Font Weight
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;

// Breakpoints
$breakpoint-xs: 0px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-2xl: 1400px !default;


